<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hfut.mihealth.mapper.RecordMapper">
    <select id="selectByPage" resultType="com.hfut.mihealth.entity.Record">
        select * from user ${ew.customSqlSegment}
    </select>
</mapper>